In [72]:
import pandas as pd
import numpy as np
from ast import literal_eval

## Orders

In [4]:
orders_df = pd.read_csv('data/train_orders.csv', index_col=0)

In [34]:
orders_df.head()

,user-id,site-id,created-at,item-id,count,general-category-path,brand-id,target
0,user_1,1,1634292444,NaN,NaN,NaN,NaN,0
1,user_1,2,1639827297,NaN,NaN,NaN,NaN,0
2,user_1,2,1639827681,NaN,NaN,NaN,NaN,0
3,user_3,21,1684248081,NaN,NaN,NaN,NaN,1
4,user_3,22,1684892551,item_1,1.0,NaN,NaN,1

Константы

In [100]:
# Граница отсечения результатов (настраивается в процессе тестов)
BORDER = 100

### Группировки

Разобьем список категория на отдельные строки

In [101]:
orders_df_with_category = orders_df[~orders_df['general-category-path'].isna()]
orders_df_with_category['general-category-path'] = orders_df_with_category['general-category-path'].apply(literal_eval)
orders_df_with_category = orders_df_with_category.explode('general-category-path')
orders_df_with_category

C:\Users\Demion\AppData\Local\Temp\ipykernel_31776\18327562.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders_df_with_category['general-category-path'] = orders_df_with_category['general-category-path'].apply(literal_eval)

,user-id,site-id,created-at,item-id,count,general-category-path,brand-id,target
6,user_4,29,1611987662,item_9,1.0,90404,3243.0,1
6,user_4,29,1611987662,item_9,1.0,90403,3243.0,1
6,user_4,29,1611987662,item_9,1.0,90402,3243.0,1
7,user_4,29,1655426430,item_10,1.0,90698,1210537.0,1
7,user_4,29,1655426430,item_10,1.0,7330336,1210537.0,1
...,...,...,...,...,...,...,...,...
3458394,user_127755,58,1690265390,item_1896437,1.0,90813,14019.0,0
3458395,user_127755,58,1690265390,item_3739266,1.0,12718223,32654.0,0
3458395,user_127755,58,1690265390,item_3739266,1.0,90813,32654.0,0
3458396,user_127755,58,1690265390,item_57560,1.0,12718223,5783.0,0
3458396,user_127755,58,1690265390,item_57560,1.0,90813,5783.0,0

#### Сайт/категория

In [86]:
orders_df_with_category.groupby(by=['site-id', 'general-category-path']).agg(
    Count=('created-at', 'nunique'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)

                               Count    Gender
site-id general-category-path
20      7774364                  160  0.931174
        91514                    239  0.914948
        90403                    109  0.914530
151     12333552                 143  0.908108
25      90402                    160  0.906593
...                              ...       ...
146     91325                    130  0.024793
588     13238924                 216  0.024145
332     7811873                  101  0.021505
136     8475933                  187  0.020690
108     91182                    157  0.017668

[4761 rows x 2 columns]

#### Бренд

In [99]:
orders_df.groupby(by=['brand-id'])['user-id', 'created-at', 'target'].agg(
    Count=('created-at', 'count'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)

C:\Users\Demion\AppData\Local\Temp\ipykernel_31776\1772745303.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  orders_df.groupby(by=['brand-id'])['user-id', 'created-at', 'target'].agg(

          Count    Gender
brand-id
1002.0      122  0.942623
993.0       107  0.878505
10418.0     169  0.875740
964.0       110  0.872727
5877.0      122  0.868852
...         ...       ...
80069.0     163  0.012270
33350.0     147  0.006803
24022.0     228  0.000000
31343.0     113  0.000000
25787.0     100  0.000000

[1901 rows x 2 columns]

#### Сайт

In [95]:
orders_df.groupby(by=['site-id'])['user-id', 'created-at', 'target'].agg(
    Count=('created-at', 'count'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)

C:\Users\Demion\AppData\Local\Temp\ipykernel_31776\1879741261.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  orders_df.groupby(by=['site-id'])['user-id', 'created-at', 'target'].agg(

         Count    Gender
site-id
599        254  0.889764
830        399  0.864662
139        375  0.858667
488      12358  0.849086
848        112  0.812500
...        ...       ...
1264       132  0.030303
931        142  0.028169
717        168  0.017857
998        346  0.005780
1053       477  0.000000

[449 rows x 2 columns]

#### Сайт/бренд

In [88]:
orders_df.groupby(by=['site-id', 'brand-id']).agg(
    Count=('created-at', 'nunique'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)

                   Count    Gender
site-id brand-id
20      1211265.0    104  0.908257
151     10418.0      129  0.888889
        1946.0       248  0.875000
20      12052.0      123  0.862595
        1211.0       128  0.861538
...                  ...       ...
45      12655.0      270  0.038540
149     953508.0     179  0.037815
        12677.0      193  0.037736
199     1940278.0    102  0.018634
        5430.0       126  0.016129

[1588 rows x 2 columns]

#### Сайт/товар

In [52]:
orders_df.groupby(by=['site-id', 'item-id']).agg(
    Count=('created-at', 'nunique'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)

                    Count    Gender
site-id item-id
151     item_23902    230  0.860870
        item_3327     399  0.856079
352     item_42908    125  0.840237
20      item_7298     100  0.811881
151     item_2563     233  0.807531
...                   ...       ...
104     item_27114    107  0.036697
149     item_25819    134  0.036232
146     item_7357     115  0.031250
136     item_18595    128  0.031008
439     item_57660    117  0.024793

[937 rows x 2 columns]

#### Конвертация в словарь для поиска при оценке

In [30]:
orders_site_item_count.to_dict()

{(54, 'item_63'): 22238,
 (2, 'item_8'): 20872,
 (2, 'item_424'): 17068,
 (184, 'item_6631'): 14171,
 (39, 'item_429'): 13903,
 (2, 'item_1519'): 10974,
 (179, 'item_210'): 9303,
 (93, 'item_7606'): 7360,
 (194, 'item_4305'): 6892,
 (653, 'item_2782'): 5021,
 (441, 'item_680'): 4959,
 (645, 'item_2346'): 4604,
 (34, 'item_1781'): 4329,
 (49, 'item_1521'): 4293,
 (93, 'item_3004'): 3872,
 (93, 'item_3005'): 3862,
 (93, 'item_3006'): 3849,
 (56, 'item_135'): 3457,
 (57, 'item_14051'): 3272,
 (650, 'item_2624'): 3103,
 (439, 'item_433'): 2807,
 (58, 'item_5507'): 2663,
 (86, 'item_860'): 2660,
 (193, 'item_1970'): 2655,
 (346, 'item_7499'): 2593,
 (93, 'item_4930'): 2566,
 (8, 'item_1349'): 2514,
 (16, 'item_2002'): 2498,
 (182, 'item_2290'): 2415,
 (6, 'item_936'): 2303,
 (590, 'item_8191'): 2197,
 (34, 'item_1648'): 2147,
 (6, 'item_2654'): 2109,
 (6, 'item_809'): 2105,
 (341, 'item_4567'): 2050,
 (181, 'item_5336'): 2047,
 (151, 'item_3826'): 1997,
 (40, 'item_4241'): 1992,
 (44, 'item_3597'): 1956,
 (191, 'item_6754'): 1918,
 (344, 'item_10388'): 1875,
 (349, 'item_4372'): 1849,
 (6, 'item_1376'): 1812,
 (155, 'item_2522'): 1795,
 (39, 'item_7862'): 1782,
 (191, 'item_6752'): 1711,
 (361, 'item_4795'): 1641,
 (361, 'item_4796'): 1640,
 (361, 'item_4798'): 1600,
 (361, 'item_4797'): 1595,
 (86, 'item_5362'): 1542,
 (201, 'item_8860'): 1533,
 (337, 'item_84170'): 1531,
 (34, 'item_6888'): 1484,
 (5, 'item_14022'): 1477,
 (565, 'item_4524'): 1438,
 (119, 'item_1362'): 1438,
 (155, 'item_720'): 1437,
 (691, 'item_4301'): 1379,
 (104, 'item_598'): 1286,
 (6, 'item_2655'): 1273,
 (34, 'item_380'): 1242,
 (34, 'item_17113'): 1214,
 (39, 'item_496'): 1208,
 (101, 'item_1074'): 1172,
 (201, 'item_2457'): 1108,
 (193, 'item_4406'): 1092,
 (101, 'item_1073'): 1062,
 (104, 'item_628'): 1061,
 (104, 'item_619'): 1049,
 (191, 'item_3518'): 1044,
 (266, 'item_827'): 1016,
 (175, 'item_4885'): 1012,
 (151, 'item_116'): 999,
 (34, 'item_1527'): 935,
 (56, 'item_16438'): 933,
 (104, 'item_668'): 923,
 (104, 'item_637'): 920,
 (99, 'item_15051'): 909,
 (41, 'item_113228'): 902,
 (104, 'item_660'): 899,
 (104, 'item_581'): 898,
 (119, 'item_9337'): 889,
 (191, 'item_6753'): 876,
 (119, 'item_6011'): 875,
 (29, 'item_223'): 821,
 (41, 'item_21828'): 815,
 (34, 'item_10093'): 808,
 (77, 'item_49483'): 790,
 (197, 'item_2520'): 786,
 (114, 'item_14879'): 755,
 (317, 'item_9218'): 751,
 (589, 'item_1372'): 714,
 (345, 'item_3516'): 704,
 (119, 'item_5168'): 679,
 (39, 'item_2103'): 669,
 (172, 'item_2778'): 666,
 (164, 'item_4239'): 662,
 (104, 'item_646'): 635,
 (34, 'item_6376'): 628,
 (343, 'item_2451'): 627,
 (6, 'item_16959'): 623,
 (104, 'item_14738'): 600,
 (153, 'item_3399'): 599,
 (93, 'item_4929'): 594,
 (93, 'item_7595'): 584,
 (99, 'item_2215'): 584,
 (841, 'item_136559'): 583,
 (104, 'item_23398'): 582,
 (150, 'item_10139'): 563,
 (104, 'item_17046'): 545,
 (104, 'item_671'): 535,
 (56, 'item_9537'): 533,
 (119, 'item_20104'): 532,
 (104, 'item_6358'): 532,
 (22, 'item_2858'): 530,
 (104, 'item_640'): 513,
 (93, 'item_47281'): 502,
 (104, 'item_5293'): 495,
 (689, 'item_4122'): 495,
 (104, 'item_599'): 490,
 (55, 'item_9132'): 487,
 (41, 'item_924'): 484,
 (195, 'item_10152'): 483,
 (58, 'item_4501'): 482,
 (41, 'item_34631'): 480,
 (56, 'item_32719'): 476,
 (104, 'item_614'): 468,
 (345, 'item_3514'): 461,
 (565, 'item_7205'): 460,
 (6, 'item_10293'): 451,
 (104, 'item_5292'): 440,
 (104, 'item_30460'): 439,
 (193, 'item_6193'): 438,
 (147, 'item_25681'): 433,
 (119, 'item_21836'): 428,
 (119, 'item_1358'): 428,
 (186, 'item_31318'): 423,
 (58, 'item_14540'): 423,
 (7, 'item_27432'): 421,
 (190, 'item_19675'): 420,
 (119, 'item_5166'): 418,
 (361, 'item_22025'): 416,
 (6, 'item_2651'): 412,
 (439, 'item_2060'): 410,
 (100, 'item_76733'): 409,
 (6, 'item_20017'): 408,
 (151, 'item_3327'): 403,
 (557, 'item_1368'): 402,
 (93, 'item_10334'): 399,
 (104, 'item_5289'): 393,
 (1163, 'item_188195'): 385,
 (173, 'item_249'): 380,
 (39, 'item_6718'): 379,
 (58, 'item_4483'): 378,
 (397, 'item_17504'): 377,
 (104, 'item_25257'): 376,
 (104, 'item_14725'): 370,
 (6, 'item_2650'): 361,
 (93, 'item_47282'): 361,
 (56, 'item_15628'): 361,
 (439, 'item_12322'): 359,
 (174, 'item_2749'): 358,
 (104, 'item_23373'): 358,
 (601, 'item_41462'): 351,
 (104, 'item_23300'): 344,
 (119, 'item_15753'): 343,
 (58, 'item_10455'): 342,
 (56, 'item_25072'): 342,
 (8, 'item_16142'): 340,
 (193, 'item_20319'): 340,
 (691, 'item_17870'): 337,
 (119, 'item_10477'): 330,
 (104, 'item_14730'): 327,
 (557, 'item_45786'): 327,
 (37, 'item_1621'): 326,
 (93, 'item_10748'): 320,
 (85, 'item_63863'): 319,
 (119, 'item_22833'): 319,
 (119, 'item_24469'): 316,
 (41, 'item_63982'): 313,
 (97, 'item_5674'): 310,
 (99, 'item_9086'): 310,
 (439, 'item_484'): 309,
 (119, 'item_26473'): 308,
 (93, 'item_7596'): 308,
 (192, 'item_2660'): 306,
 (119, 'item_8142'): 306,
 (58, 'item_14541'): 302,
 (104, 'item_623'): 300,
 (93, 'item_10339'): 300,
 (104, 'item_14690'): 298,
 (439, 'item_31663'): 298,
 (56, 'item_5339'): 298,
 (91, 'item_910'): 297,
 (361, 'item_23112'): 294,
 (104, 'item_24780'): 294,
 (647, 'item_32898'): 293,
 (41, 'item_113404'): 292,
 (6, 'item_2649'): 289,
 (58, 'item_70'): 289,
 (6, 'item_4401'): 289,
 (104, 'item_601'): 288,
 (41, 'item_32052'): 288,
 (8, 'item_29219'): 287,
 (93, 'item_10340'): 285,
 (58, 'item_40886'): 284,
 (425, 'item_9648'): 283,
 (439, 'item_464'): 283,
 (439, 'item_12341'): 280,
 (361, 'item_22464'): 278,
 (104, 'item_5290'): 276,
 (8, 'item_26298'): 275,
 (104, 'item_25265'): 273,
 (93, 'item_7597'): 270,
 (6, 'item_18130'): 269,
 (8, 'item_2024'): 268,
 (104, 'item_14693'): 267,
 (104, 'item_650'): 266,
 (104, 'item_14694'): 265,
 (104, 'item_23342'): 265,
 (104, 'item_622'): 265,
 (119, 'item_4507'): 261,
 (62, 'item_92510'): 259,
 (34, 'item_2926'): 258,
 (104, 'item_585'): 254,
 (6, 'item_29284'): 254,
 (99, 'item_9083'): 253,
 (104, 'item_624'): 252,
 (6, 'item_33005'): 251,
 (423, 'item_32879'): 250,
 (58, 'item_69'): 249,
 (104, 'item_669'): 249,
 (206, 'item_11972'): 249,
 (93, 'item_28625'): 248,
 (119, 'item_37676'): 248,
 (8, 'item_5011'): 248,
 (8, 'item_19065'): 245,
 (40, 'item_4250'): 245,
 (104, 'item_37914'): 242,
 (96, 'item_24084'): 240,
 (104, 'item_667'): 240,
 (58, 'item_26909'): 240,
 (119, 'item_10793'): 240,
 (151, 'item_2563'): 239,
 (647, 'item_30910'): 238,
 (119, 'item_8144'): 237,
 (58, 'item_98247'): 237,
 (439, 'item_12336'): 237,
 (119, 'item_35225'): 236,
 (557, 'item_45788'): 235,
 (439, 'item_12929'): 235,
 (97, 'item_34910'): 234,
 (97, 'item_30507'): 233,
 (180, 'item_8087'): 232,
 (58, 'item_4491'): 231,
 (119, 'item_8140'): 231,
 (151, 'item_23902'): 230,
 (104, 'item_23365'): 230,
 (6, 'item_16783'): 230,
 (20, 'item_5065'): 228,
 (689, 'item_4123'): 228,
 (104, 'item_587'): 228,
 (104, 'item_23364'): 227,
 (104, 'item_25260'): 227,
 (439, 'item_12296'): 227,
 (99, 'item_11618'): 227,
 (95, 'item_7192'): 227,
 (104, 'item_644'): 226,
 (104, 'item_5291'): 225,
 (8, 'item_5005'): 224,
 (183, 'item_19433'): 224,
 (104, 'item_17044'): 223,
 (119, 'item_6010'): 223,
 (104, 'item_25228'): 223,
 (58, 'item_57552'): 222,
 (439, 'item_9831'): 220,
 (8, 'item_9796'): 220,
 (8, 'item_8130'): 220,
 (58, 'item_4502'): 220,
 (104, 'item_635'): 217,
 (119, 'item_30446'): 216,
 (8, 'item_27026'): 216,
 (440, 'item_31989'): 215,
 (39, 'item_8265'): 215,
 (6, 'item_6632'): 214,
 (49, 'item_25804'): 213,
 (565, 'item_4333'): 212,
 (8, 'item_4451'): 212,
 (119, 'item_9826'): 212,
 (58, 'item_40887'): 211,
 (99, 'item_17749'): 211,
 (750, 'item_23158'): 211,
 (104, 'item_662'): 210,
 (8, 'item_54622'): 210,
 (41, 'item_34971'): 210,
 (99, 'item_15074'): 209,
 (104, 'item_584'): 208,
 (6, 'item_7057'): 208,
 (8, 'item_61046'): 207,
 (58, 'item_4504'): 207,
 (104, 'item_45514'): 206,
 (93, 'item_80546'): 206,
 (629, 'item_10025'): 206,
 (104, 'item_641'): 206,
 (6, 'item_8292'): 205,
 (8, 'item_19063'): 205,
 (361, 'item_19147'): 204,
 (104, 'item_31343'): 203,
 (58, 'item_4482'): 203,
 (770, 'item_63018'): 203,
 (119, 'item_53629'): 202,
 (198, 'item_66885'): 201,
 (439, 'item_11900'): 200,
 (21, 'item_50997'): 199,
 (439, 'item_12867'): 199,
 (8, 'item_3417'): 198,
 (49, 'item_36143'): 198,
 (8, 'item_17006'): 197,
 (81, 'item_31168'): 195,
 (119, 'item_4512'): 195,
 (104, 'item_57215'): 195,
 (93, 'item_39822'): 194,
 (439, 'item_14999'): 194,
 (6, 'item_7058'): 192,
 (49, 'item_14197'): 192,
 (119, 'item_10474'): 191,
 (49, 'item_17539'): 191,
 (104, 'item_14692'): 191,
 (104, 'item_606'): 190,
 (175, 'item_32962'): 190,
 (439, 'item_475'): 190,
 (49, 'item_3506'): 189,
 (58, 'item_26911'): 188,
 (104, 'item_588'): 188,
 (20, 'item_5040'): 188,
 (8, 'item_7641'): 187,
 (56, 'item_5338'): 185,
 (48, 'item_40'): 185,
 (93, 'item_44012'): 184,
 (119, 'item_128718'): 184,
 (8, 'item_17845'): 184,
 (8, 'item_38683'): 184,
 (104, 'item_589'): 184,
 (104, 'item_57210'): 183,
 (8, 'item_22375'): 183,
 (104, 'item_603'): 182,
 (58, 'item_24191'): 182,
 (8, 'item_27025'): 182,
 (104, 'item_593'): 182,
 (8, 'item_3416'): 182,
 (8, 'item_29298'): 180,
 (49, 'item_36142'): 179,
 (104, 'item_14702'): 178,
 (180, 'item_13092'): 178,
 (58, 'item_25455'): 177,
 (8, 'item_4635'): 177,
 (191, 'item_10081'): 177,
 (104, 'item_594'): 177,
 (104, 'item_651'): 176,
 (104, 'item_607'): 176,
 (104, 'item_31375'): 176,
 (8, 'item_54623'): 175,
 (39, 'item_7861'): 175,
 (6, 'item_32694'): 175,
 (104, 'item_25208'): 175,
 (8, 'item_4976'): 175,
 (565, 'item_4331'): 174,
 (49, 'item_17957'): 174,
 (49, 'item_28439'): 173,
 (37, 'item_198205'): 172,
 (49, 'item_36993'): 172,
 (49, 'item_22067'): 172,
 (29, 'item_1615'): 172,
 (439, 'item_443'): 172,
 (29, 'item_26009'): 172,
 (8, 'item_17459'): 172,
 (6, 'item_6633'): 172,
 (155, 'item_895'): 171,
 (119, 'item_82982'): 171,
 (104, 'item_37869'): 171,
 (439, 'item_448'): 171,
 (20, 'item_22507'): 171,
 (93, 'item_31492'): 171,
 (439, 'item_11905'): 171,
 (20, 'item_1426'): 170,
 (104, 'item_25245'): 170,
 (104, 'item_17049'): 170,
 (8, 'item_4442'): 170,
 (20, 'item_3998'): 169,
 (49, 'item_6723'): 169,
 (180, 'item_8077'): 169,
 (104, 'item_37878'): 169,
 (352, 'item_42908'): 169,
 (104, 'item_31373'): 169,
 (8, 'item_2023'): 169,
 (58, 'item_83521'): 169,
 (40, 'item_14669'): 168,
 (104, 'item_45518'): 168,
 (439, 'item_490'): 168,
 (96, 'item_58066'): 167,
 (20, 'item_22570'): 167,
 (8, 'item_3421'): 166,
 (93, 'item_7601'): 165,
 (104, 'item_23297'): 165,
 (104, 'item_37947'): 165,
 (439, 'item_28470'): 165,
 (21, 'item_3823'): 165,
 (8, 'item_17846'): 165,
 (49, 'item_6722'): 165,
 (104, 'item_24801'): 164,
 (6, 'item_16961'): 164,
 (104, 'item_37908'): 164,
 (93, 'item_127534'): 164,
 (20, 'item_5048'): 164,
 (6, 'item_4404'): 164,
 (192, 'item_11920'): 163,
 (192, 'item_5527'): 163,
 (49, 'item_126426'): 163,
 (119, 'item_9827'): 163,
 (49, 'item_29638'): 163,
 (49, 'item_26050'): 163,
 (119, 'item_9340'): 162,
 (34, 'item_7402'): 162,
 (20, 'item_3347'): 162,
 (41, 'item_7224'): 162,
 (361, 'item_19146'): 161,
 (49, 'item_22182'): 161,
 (97, 'item_72978'): 160,
 (20, 'item_65496'): 160,
 (29, 'item_18170'): 160,
 (344, 'item_27404'): 160,
 (20, 'item_1420'): 160,
 (101, 'item_47421'): 159,
 (8, 'item_58816'): 159,
 (97, 'item_64508'): 159,
 (20, 'item_8323'): 159,
 (49, 'item_89343'): 159,
 (104, 'item_27113'): 159,
 (119, 'item_55748'): 158,
 (104, 'item_37949'): 158,
 (361, 'item_31901'): 158,
 (58, 'item_83520'): 158,
 (565, 'item_1082'): 157,
 (8, 'item_27337'): 157,
 (104, 'item_31377'): 157,
 (192, 'item_20672'): 157,
 (565, 'item_7214'): 156,
 (20, 'item_5073'): 156,
 (8, 'item_3426'): 156,
 (361, 'item_20147'): 156,
 (37, 'item_50124'): 156,
 (198, 'item_14552'): 155,
 (49, 'item_14862'): 155,
 (93, 'item_15620'): 155,
 (439, 'item_12874'): 155,
 (119, 'item_21834'): 154,
 (58, 'item_13814'): 154,
 (104, 'item_37859'): 154,
 (439, 'item_31662'): 153,
 (49, 'item_110927'): 153,
 (180, 'item_8983'): 153,
 (119, 'item_37679'): 152,
 (119, 'item_1354'): 152,
 (39, 'item_12385'): 152,
 (56, 'item_22603'): 152,
 (39, 'item_2102'): 152,
 (104, 'item_14735'): 152,
 (6, 'item_2653'): 152,
 (104, 'item_675'): 151,
 (439, 'item_10176'): 151,
 (104, 'item_633'): 151,
 (6, 'item_7062'): 150,
 (439, 'item_39184'): 150,
 (565, 'item_1084'): 150,
 (104, 'item_31365'): 150,
 (93, 'item_39823'): 149,
 (29, 'item_1290'): 149,
 (104, 'item_605'): 149,
 (119, 'item_5167'): 149,
 (104, 'item_2105'): 149,
 (361, 'item_19145'): 149,
 (104, 'item_30479'): 149,
 (119, 'item_79801'): 149,
 (93, 'item_10724'): 148,
 (8, 'item_3415'): 148,
 (49, 'item_3505'): 148,
 (29, 'item_69650'): 148,
 (439, 'item_456'): 148,
 (343, 'item_66208'): 148,
 (104, 'item_37886'): 148,
 (93, 'item_27224'): 147,
 (93, 'item_16460'): 147,
 (44, 'item_3608'): 146,
 (190, 'item_9260'): 146,
 (8, 'item_3418'): 145,
 (104, 'item_25227'): 145,
 (104, 'item_25215'): 145,
 (439, 'item_457'): 145,
 (180, 'item_8891'): 145,
 (34, 'item_3133'): 144,
 (8, 'item_3428'): 144,
 (93, 'item_93320'): 144,
 (6, 'item_10296'): 144,
 (8, 'item_14512'): 144,
 (76, 'item_4207'): 143,
 (104, 'item_37916'): 143,
 (104, 'item_69354'): 143,
 (8, 'item_4979'): 143,
 (49, 'item_3440'): 143,
 (119, 'item_4513'): 143,
 (93, 'item_42562'): 143,
 (76, 'item_16069'): 143,
 (16, 'item_33432'): 142,
 (187, 'item_83085'): 142,
 (104, 'item_575'): 142,
 (104, 'item_23391'): 141,
 (76, 'item_60683'): 141,
 (41, 'item_145191'): 141,
 (37, 'item_5812'): 141,
 (8, 'item_3414'): 141,
 (439, 'item_474'): 141,
 (104, 'item_25233'): 140,
 (58, 'item_102371'): 140,
 (99, 'item_32268'): 140,
 (119, 'item_4519'): 139,
 (119, 'item_28211'): 139,
 (117, 'item_7370'): 139,
 (8, 'item_19456'): 139,
 (8, 'item_64437'): 139,
 (1491, 'item_522705'): 138,
 (104, 'item_24778'): 138,
 (58, 'item_25450'): 138,
 (93, 'item_39816'): 138,
 (119, 'item_8460'): 138,
 (49, 'item_47359'): 138,
 (361, 'item_45148'): 137,
 (8, 'item_38687'): 137,
 (6, 'item_19399'): 137,
 (41, 'item_21829'): 137,
 (361, 'item_182785'): 137,
 (119, 'item_9969'): 137,
 (361, 'item_182786'): 137,
 (8, 'item_36922'): 137,
 (104, 'item_23380'): 137,
 (93, 'item_7608'): 137,
 (410, 'item_20941'): 137,
 (49, 'item_56360'): 136,
 (565, 'item_7216'): 136,
 (8, 'item_31951'): 136,
 (8, 'item_22364'): 136,
 (104, 'item_23381'): 136,
 (6, 'item_8173'): 136,
 (8, 'item_19064'): 136,
 (8, 'item_31944'): 135,
 (565, 'item_10635'): 135,
 (93, 'item_10760'): 135,
 (565, 'item_4320'): 135,
 (93, 'item_10761'): 135,
 (93, 'item_10762'): 135,
 (104, 'item_25226'): 135,
 (439, 'item_445'): 135,
 (8, 'item_92015'): 135,
 (247, 'item_152221'): 135,
 (119, 'item_79798'): 134,
 (104, 'item_23349'): 134,
 (8, 'item_17847'): 134,
 (49, 'item_12582'): 134,
 (104, 'item_23296'): 134,
 (21, 'item_10230'): 134,
 (104, 'item_80777'): 133,
 (8, 'item_14091'): 133,
 (226, 'item_138002'): 133,
 (20, 'item_1425'): 133,
 (104, 'item_616'): 133,
 (6, 'item_57682'): 133,
 (49, 'item_3296'): 133,
 (49, 'item_13973'): 132,
 (20, 'item_15125'): 132,
 (49, 'item_167127'): 132,
 (119, 'item_53709'): 132,
 (8, 'item_21468'): 132,
 (6, 'item_10785'): 131,
 (1264, 'item_81473'): 131,
 (119, 'item_10473'): 131,
 (104, 'item_31378'): 131,
 (49, 'item_167128'): 131,
 (119, 'item_28640'): 130,
 (210, 'item_22303'): 130,
 (93, 'item_133300'): 130,
 (49, 'item_110928'): 130,
 (58, 'item_95998'): 130,
 (49, 'item_14864'): 129,
 (93, 'item_31488'): 129,
 (20, 'item_5063'): 129,
 (180, 'item_8968'): 129,
 (6, 'item_20019'): 129,
 (104, 'item_14714'): 129,
 (439, 'item_10185'): 129,
 (104, 'item_14689'): 129,
 (439, 'item_12869'): 129,
 (6, 'item_53970'): 129,
 (136, 'item_18595'): 129,
 (104, 'item_611'): 128,
 (8, 'item_4890'): 128,
 (93, 'item_10757'): 128,
 (198, 'item_14554'): 128,
 (8, 'item_14092'): 128,
 (194, 'item_7714'): 128,
 (146, 'item_7357'): 128,
 (119, 'item_37678'): 128,
 (565, 'item_7207'): 128,
 (104, 'item_673'): 127,
 (8, 'item_54617'): 127,
 (49, 'item_2173'): 127,
 (119, 'item_28572'): 127,
 (8, 'item_47062'): 127,
 (192, 'item_2661'): 127,
 (119, 'item_99404'): 126,
 (8, 'item_46757'): 126,
 (8, 'item_61886'): 126,
 (49, 'item_44982'): 126,
 (6, 'item_61445'): 126,
 (49, 'item_3500'): 125,
 (439, 'item_446'): 125,
 (104, 'item_64667'): 125,
 (174, 'item_10349'): 125,
 (49, 'item_25068'): 125,
 (104, 'item_25242'): 125,
 (104, 'item_25268'): 125,
 (99, 'item_15069'): 125,
 (119, 'item_21833'): 125,
 (439, 'item_20668'): 125,
 (20, 'item_34265'): 124,
 (97, 'item_53720'): 124,
 (49, 'item_3295'): 124,
 (49, 'item_54167'): 124,
 (49, 'item_19379'): 124,
 (323, 'item_70566'): 124,
 (8, 'item_16105'): 124,
 (8, 'item_3412'): 124,
 (192, 'item_40724'): 124,
 (439, 'item_12878'): 124,
 (104, 'item_638'): 124,
 (104, 'item_37920'): 124,
 (104, 'item_23363'): 124,
 (93, 'item_27781'): 124,
 (37, 'item_49361'): 123,
 (93, 'item_30273'): 123,
 (104, 'item_590'): 123,
 (439, 'item_2078'): 123,
 (34, 'item_3548'): 123,
 (8, 'item_103471'): 123,
 (210, 'item_49551'): 123,
 (119, 'item_102374'): 123,
 (56, 'item_178434'): 123,
 (49, 'item_12581'): 123,
 (93, 'item_58964'): 123,
 (119, 'item_22834'): 123,
 (49, 'item_2322'): 123,
 (8, 'item_22366'): 122,
 (41, 'item_95098'): 122,
 (76, 'item_46962'): 122,
 (104, 'item_24748'): 122,
 (439, 'item_12875'): 122,
 (34, 'item_21186'): 122,
 (49, 'item_65583'): 122,
 (602, 'item_174698'): 122,
 (119, 'item_66397'): 122,
 (8, 'item_17007'): 122,
 (49, 'item_19378'): 122,
 (58, 'item_54868'): 121,
 (49, 'item_34686'): 121,
 (8, 'item_5010'): 121,
 (104, 'item_25246'): 121,
 (439, 'item_57660'): 121,
 (6, 'item_2659'): 121,
 (93, 'item_57411'): 121,
 (49, 'item_25069'): 121,
 (104, 'item_110776'): 121,
 (439, 'item_12886'): 121,
 (8, 'item_3422'): 121,
 (119, 'item_86895'): 121,
 (99, 'item_9877'): 120,
 (58, 'item_56882'): 120,
 (8, 'item_3401'): 120,
 (49, 'item_22066'): 120,
 (8, 'item_26490'): 120,
 (104, 'item_14722'): 120,
 (62, 'item_191048'): 120,
 (439, 'item_482'): 120,
 (8, 'item_35468'): 120,
 (717, 'item_395634'): 120,
 (565, 'item_12133'): 120,
 (8, 'item_16520'): 120,
 (58, 'item_49778'): 120,
 (192, 'item_11619'): 119,
 (58, 'item_88642'): 119,
 (58, 'item_88439'): 119,
 (93, 'item_93327'): 119,
 (565, 'item_10634'): 119,
 (439, 'item_12916'): 119,
 (104, 'item_629'): 119,
 (6, 'item_58047'): 119,
 (104, 'item_27116'): 119,
 (8, 'item_36920'): 119,
 (93, 'item_39817'): 119,
 (104, 'item_23340'): 119,
 (8, 'item_49083'): 119,
 (93, 'item_6284'): 118,
 (104, 'item_153356'): 118,
 (8, 'item_27916'): 118,
 (490, 'item_9909'): 118,
 (76, 'item_12402'): 118,
 (49, 'item_43772'): 118,
 (58, 'item_9211'): 118,
 (20, 'item_15105'): 118,
 (439, 'item_439'): 118,
 (49, 'item_7376'): 117,
 (49, 'item_49112'): 117,
 (20, 'item_26265'): 117,
 (58, 'item_45465'): 117,
 (29, 'item_70245'): 117,
 (439, 'item_14649'): 117,
 (104, 'item_100088'): 117,
 (147, 'item_40688'): 117,
 (6, 'item_40273'): 116,
 (104, 'item_80781'): 116,
 (119, 'item_79797'): 116,
 (104, 'item_24763'): 116,
 (93, 'item_22467'): 116,
 (119, 'item_58048'): 116,
 (8, 'item_4968'): 116,
 (49, 'item_3511'): 116,
 (21, 'item_42983'): 116,
 (49, 'item_9361'): 116,
 (436, 'item_14211'): 116,
 (104, 'item_14684'): 116,
 (658, 'item_9183'): 116,
 (49, 'item_5833'): 116,
 (49, 'item_3441'): 115,
 (439, 'item_12305'): 115,
 (58, 'item_57543'): 115,
 (104, 'item_24777'): 115,
 (345, 'item_34692'): 115,
 (104, 'item_78916'): 115,
 (49, 'item_14866'): 115,
 (58, 'item_4505'): 115,
 (58, 'item_45015'): 115,
 (565, 'item_38312'): 115,
 (8, 'item_14527'): 115,
 (104, 'item_37879'): 114,
 (8, 'item_3404'): 114,
 (8, 'item_32404'): 114,
 (151, 'item_3828'): 114,
 (104, 'item_25243'): 114,
 (56, 'item_73000'): 114,
 (119, 'item_68593'): 114,
 (104, 'item_25216'): 114,
 (76, 'item_7636'): 114,
 (104, 'item_27092'): 114,
 (76, 'item_4213'): 114,
 (97, 'item_90696'): 114,
 (439, 'item_3323'): 114,
 (104, 'item_23394'): 113,
 (192, 'item_35760'): 113,
 (34, 'item_41248'): 113,
 (82, 'item_106825'): 113,
 (439, 'item_437'): 113,
 (439, 'item_10180'): 113,

## Visits (позже)

In [10]:
visits_df = pd.read_csv('data/train_visits.csv', index_col=0)

In [12]:
visits_df.head(50)

,user-id,site-id,first-seen,last-seen,visited-at,session-duration,pages-count,visited-items,visited-general-categories,visited-universal_brands,target
0,user_2,3,1696277805,1696278323,1696277805,0,1,NaN,NaN,NaN,0
1,user_2,3,1696277805,1696278323,1696278323,112,2,NaN,NaN,NaN,0
2,user_3,3,1696320204,1696320204,1696320204,0,1,NaN,NaN,NaN,1
3,user_3,23,1686372887,1686899354,1686372887,296,13,['item_2'],NaN,NaN,1
4,user_3,23,1686372887,1686899354,1686805600,37,5,['item_2'],NaN,NaN,1
5,user_3,23,1686372887,1686899354,1686899354,99,5,NaN,NaN,NaN,1
6,user_3,16,1680410306,1686982782,1681145345,558,6,"['item_3', 'item_4', 'item_5']","['91461', '198119', '91491']","['1', '921']",1
7,user_3,16,1680410306,1686982782,1686373121,93,3,NaN,NaN,NaN,1
8,user_3,16,1680410306,1686982782,1686711421,1189,10,"['item_6', 'item_7']","['91461', '198119', '91491']",['1'],1
9,user_3,16,1680410306,1686982782,1686805443,105,2,NaN,NaN,NaN,1
10,user_3,16,1680410306,1686982782,1686898871,62,3,NaN,NaN,NaN,1
11,user_3,16,1680410306,1686982782,1686906517,12,2,NaN,NaN,NaN,1
12,user_3,16,1680410306,1686982782,1686908239,281,10,['item_7'],"['91461', '198119', '91491']",['1'],1
13,user_3,16,1680410306,1686982782,1686909174,0,1,NaN,NaN,NaN,1
14,user_3,16,1680410306,1686982782,1686982143,11,2,NaN,NaN,NaN,1
15,user_3,16,1680410306,1686982782,1686982782,0,1,NaN,NaN,NaN,1
16,user_4,3,1693468067,1698567835,1693468067,0,1,NaN,NaN,NaN,1
17,user_4,3,1693468067,1698567835,1698567835,88,2,NaN,NaN,NaN,1
18,user_4,21,1691395415,1691395415,1691395415,0,1,NaN,NaN,NaN,1
19,user_4,20,1693889195,1693902771,1693889195,148,2,NaN,NaN,NaN,1
20,user_4,20,1693889195,1693902771,1693898877,214,4,NaN,NaN,NaN,1
21,user_4,20,1693889195,1693902771,1693900229,631,4,['item_12'],"['91461', '198119', '91491']",['1'],1
22,user_4,20,1693889195,1693902771,1693902771,223,3,['item_12'],"['91461', '198119', '91491']",['1'],1
23,user_4,31,1693634089,1693634089,1693634089,0,1,NaN,NaN,NaN,1
24,user_4,30,1681785046,1698053760,1681785046,876,11,NaN,NaN,NaN,1
25,user_4,30,1681785046,1698053760,1681827163,0,1,NaN,NaN,NaN,1
26,user_4,30,1681785046,1698053760,1681964565,217,3,NaN,NaN,NaN,1
27,user_4,30,1681785046,1698053760,1696824087,386,5,NaN,NaN,NaN,1
28,user_4,30,1681785046,1698053760,1698050316,711,3,NaN,NaN,NaN,1
29,user_4,30,1681785046,1698053760,1698053760,620,3,NaN,NaN,NaN,1
30,user_4,32,1689956784,1690011592,1689956784,117,5,NaN,NaN,NaN,1
31,user_4,32,1689956784,1690011592,1689958808,0,1,NaN,NaN,NaN,1
32,user_4,32,1689956784,1690011592,1690011592,321,4,NaN,NaN,NaN,1
33,user_5,3,1693796766,1698663949,1693796766,0,1,NaN,NaN,NaN,0
34,user_5,3,1693796766,1698663949,1694266670,0,1,NaN,NaN,NaN,0
35,user_5,3,1693796766,1698663949,1698663949,110,2,NaN,NaN,NaN,0
36,user_5,23,1690602902,1690602902,1690602902,115,2,"['item_18', 'item_19']",NaN,NaN,0
37,user_5,13,1693796879,1698664036,1693796879,0,1,NaN,NaN,NaN,0
38,user_5,13,1693796879,1698664036,1693797507,582,6,NaN,NaN,NaN,0
39,user_5,13,1693796879,1698664036,1693811199,0,1,NaN,NaN,NaN,0
40,user_5,13,1693796879,1698664036,1693964898,0,1,NaN,NaN,NaN,0
41,user_5,13,1693796879,1698664036,1694107108,0,1,NaN,NaN,NaN,0
42,user_5,13,1693796879,1698664036,1694266718,1,2,NaN,NaN,NaN,0
43,user_5,13,1693796879,1698664036,1698664036,381,3,NaN,NaN,NaN,0
44,user_5,41,1684635602,1686209129,1684635602,224,5,['item_20'],NaN,NaN,0
45,user_5,41,1684635602,1686209129,1686209129,62,7,NaN,NaN,NaN,0
46,user_5,20,1640043375,1696419856,1640043375,771,1,"['item_17', 'item_16', 'item_15']","['13199877', '1618974', '90508', '90666', '916...","['4315', '986']",0
47,user_5,20,1640043375,1696419856,1640924780,553,6,['item_16'],"['1618974', '90666', '91650', '91597', '91649']",['986'],0
48,user_5,20,1640043375,1696419856,1646214547,1621,33,"['item_21', 'item_22', 'item_23', 'item_24', '...","['7286537', '6179129', '90579', '91614', '9066...","['1', '1937977', '14972', '701']",0
49,user_5,20,1640043375,1696419856,1646217169,0,1,NaN,NaN,NaN,0